@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');
*{
    padding:0;
    margin:0;
    
}

@keyframes rotate{
    from{transform: skew(22deg, -3deg);}
    to{transform: skew(0deg, 0deg);}
}

body{
    background-image: url(srcs/images/backgrounds/earth.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 0.9em;
}

main{
    max-width: calc(650px - 30px);
    color: white;
    display: flex;
    height: 100vh;
    align-items: center;
    margin: auto;
}

:root{
    --imgFullHi: 240px;
    --imgFullWe: 270px;
    --selectionCardsW: 185px;
    --selectionCardsH: 65px;
    --imgHeadH: 75px;
    --imgheadW: 80px
}

.mobsCard{
    width: 400px;
    min-height: 250px;
    position: relative;
    border-radius: 12px;
}



.mobInfo{
    background-image: linear-gradient(350deg, #f30707d7, #f0197ad3, #f98dfdc2);
    text-align: center;
    height: 290px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 2px solid rgba(0, 0, 0, 0.932);
    border-left: 2px solid rgba(0, 0, 0, 0.932);
    border-right: 2px solid rgba(0, 0, 0, 0.932);
    font-family: 'Revalia', cursive;
}

#nameNumber{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobName{
    display: inline-block;
    margin-left: 15px;
    font-size: 2em;
}

.mobNumber{
    margin-right: 15px;
    font-size: 1.2em;
}

.element{
    position: absolute;
    left: 15px;
    top:37px;
    display: inline;
}

#mobImg > img{
    width: var(--imgFullWe);
    height: var(var(--imgFullHi));
    margin: auto;
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-51%, -52%);
    box-shadow: -2px 1px 3px 1px rgba(0, 0, 0, 0.384);
    border-radius: 40px;
}

#mobImg > img:hover{
    box-shadow: 3px 1px 2px rgba(0, 0, 0, 0.281);
    transition-duration: 2s;
    transform: translate(-40%, -52%);
}

/* Status mob*/

#statusMob{
    display: flex;
    justify-content: space-evenly;
    color:black;
    background-color: rgb(245, 245, 245);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.932);
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.39); ;
    font-family: 'Oldenburg', cursive;
}

#statusMob h2{
    font-weight: 900;
    text-shadow: 1px 2px 2px #00000098;
}

hr{
   height: 0.5px;
   background-color: black;
}

/*Status line*/
#stats{
    width: 150px;
    height: 160px;
    margin-top:15%;  
}

#atributes{
    list-style: none;
    margin-left: 3px;
    line-height: 20px;
}

/*Status line*/

/*habilitys line*/
#habilitys{
    width: 150px;
    height: 160px;
    margin-top:15%;
}

#skills{
    list-style: none;
    margin-left: 3px;
    line-height: 20px;
}


/*habilitys line*/

/*Stat selection cards*/

.selectCards{
    width: calc(100% - 350px);
    display: flex;
    justify-content: right;
    border-radius: 5px;
    height: 520px;
    font-family: 'Revalia', cursive;
}

#selectionCards{
    list-style: none;
}

#selectionCards li {
    width: var(--selectionCardsW);
    height: var(--selectionCardsH);
    background-color: #585481;
    margin-bottom: 15px;
    overflow: hidden;
    text-align: right;
    position: relative;
    border-radius: 3px;
    border-bottom-left-radius: 30px;
    border: solid 1.5px rgb(196, 107, 24);
    cursor: pointer;
}

.clickControl{ /*Control for click event in JS, not to click on image or name*/
    background-color: rgba(0, 0, 0, 0);
    height: 65px;
    width: 185px;
    position: absolute;
}

.selectCards img {
    width: var(--imgheadW);
    height: var(--imgHeadH);
}

.selectCards span{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
}


@media (max-width: 585px) {
    #selectionCards{
        transform: scale(1);
        display: inline-block;
        margin: auto;
    }

    #selectionCards span{
        display: none;
    }

    #selectionCards li{
        width: 80px;
        border-radius: 50%;
    }
}